body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    background-image: url(images/img-fond1.jpg);
    }
    
    .container {
    width: 400px;
    margin: 250px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
    margin-top: 0;
    text-align:  center;
    }
    
    .boutons {
        display: flex;
        flex-direction: column; /* Aligne les boutons en colonne */
        gap: 10px; /* Espace entre les boutons */
    }
    
.btn-client, .btn-admin {
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main au survol */
    font-size: 16px; /* Taille du texte */
}

.btn-client:hover, .btn-admin:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}
        
           